/* Estilos para o painel Alterar */
VBox {
    -fx-background-color: #f4f4f4;
}
Button {
    -fx-pref-width: 100;
    -fx-pref-height: 30;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14;
}
Button:hover {
    -fx-background-color: #45a049;
}
TextField, ComboBox {
    -fx-pref-width: 150;
}
Label {
    -fx-font-size: 14;
}